img{border:0px;	}
.clearfix:after {
	visibility:hidden;
	content:".";
	display:block;
	clear:both;
	height:0;
}
*{margin:0; padding:0; }
ul,
li {list-style-type:none; }

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #252525;
	line-height:18px;

}
a{
	color:#8ab036;
	text-decoration:none;	
}
a:hover{text-decoration:underline; }

.top{
	background:#8ab036;
	padding:10px 20px;
}
.top h1{
	color:#fff;
	font-size:16px;
	text-transform:uppercase;
}
.header{
	clear:both;		
	background:#f3f3f3;
	border-bottom:2px solid #8ab036;
	padding: 25px 20px 0;
}
.main-menu{
	float:left;
}
.main-menu li{
	background:#8ab036;
	display:inline;
	margin:0 2px 0 0;
	border: 1px solid #83b020;
	float:left;
	border-radius:8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	-webkit-border-radius: 8px 8px 0 0;
	
	-moz-box-shadow: inset 0 0 2px 0 #fff;
	-webkit-box-shadow: inset 0 0 2px 0 #fff;
	box-shadow: inset 0 0 2px 0 #fff;
	
	opacity:0.8;
}
.main-menu li a{
	color: #FFFFFF;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 7px 18px 5px;
}
.main-menu li:hover,
.main-menu li:hover a,
.main-menu li.active{
	opacity:1;
	text-decoration:none;
}
.header .user-login{
	float:right;
	padding-top:8px
}
.header .user-login p{
	float:left;
	margin-right:10px;	
}
.header .user-login p a{
	color:#70b4e2;
	font-weight:bold;	
}
.header .user-login a{
	color:#252525;	
}

.content {
	margin:25px 0;
	padding:0 20px;
}
.content label{
	font-weight:bold;
	margin-right:10px;	
}
.content select,
.content input[type="text"],
.content input[type="password"],
.footer select,
.footer .pages a,
textarea,
.form-login input[type="text"],
.form-login input[type="password"]
{
	background:#f3f3f3;
	border:1px solid #dddddd;
	border-radius:3px;
	padding:5px;
	font-family:'Arial';
	width:130px;
}
.content input[type="text"],
.form-login input[type="text"],
.form-login input[type="password"]
{
	padding:5px 10px;
	color:#848484;
	width:185px;
	margin-left:15px;
}

.button01{
	background:#1b7cbd;
	border: 1px solid #227dba;

	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	
	-moz-box-shadow: inset 0 0 2px 0 #fff;
	-webkit-box-shadow: inset 0 0 2px 0 #fff;
	box-shadow: inset 0 0 2px 0 #fff;
	
	color:#fff;
	font-weight:bold;
	padding: 5px 10px;
	font-family:'Arial';
	cursor:pointer;
}

.today-entry{
	clear:both;
	float:right;
	margin: 0 0 10px 0;	
}
.today-entry span{
	color:#70b4e2;
	font-weight:bold;
}

.list-resumes,
.info-content{
	float: left;
    width: 100%;
}
.list-resumes .head{
	background:#1b7cbd;	
	width:100%;
	float: left;
}
.list-resumes .head .checkbox,
.list-resumes .head .name,
.list-resumes .head .experience,
.list-resumes .head .salary,
.list-resumes .head .comments,
.list-resumes .head .sent
{	
	background:url(../images/bg-header.jpg) no-repeat top right;
}
.list-resumes .checkbox,
.list-resumes .name,
.list-resumes .experience,
.list-resumes .salary,
.list-resumes .comments,
.list-resumes .sent
{
	padding:6px 1% 7px;
	float:left;	
}
.list-resumes .checkbox{
	padding:10px 1%;
	width:1%;
}
.list-resumes .name{
	width:15%;
}
.list-resumes .salary{
	width:13%;	
}
.list-resumes .experience{
	width:32%;
}

.list-resumes .comments{
	width:19%;
}
.list-resumes .head h4{
	text-transform:uppercase;
	color:#fff;	
}
.list-resumes .sent{
	width:8%;
	background:none !important;
}
.info-content{
	margin-top: 5px;
	border-bottom:1px solid #bcbcbc;
	
}
.info-content .name h4 a{
	color:#8AB036;
	text-transform: capitalize;
}
.info-content .experience ul li{
	display:block;
	width:100%;	
	float:left;
}

.info-content .experience .companies{
	margin:0 0 10px 20px;
}
.info-content .update-date{
	color:#535353;
	margin-top:10px;
}	
.info-content .addcomment,
.info-content .addhistory,
.info-content .export-word{
	font-weight: bold;
	background:url(../images/icon-add.png) no-repeat left 1px;
	padding-left: 18px;	
}
.info-content .export-word{
	background:url(../images/icon-export.png) no-repeat left 1px;
	color:#1b7cbd;
	margin-left:10px;
}
.info-content .info-comment .update-date{
	float:left;	
	margin-right:10px;
}
.info-content .info-comment span,
.info-content .info-comment a{
	float:left;	
	margin: 10px 5px 0 0;
}
.info-content .info-comment span.user-name{
	color: #70B4E2;	
}
.info-content .info-comment p{
	clear:both;	
}

.footer label{
	font-size:14px;
	margin-right:8px;
}
.footer select{
	width:60px;	
}
.footer .pages{
	display: inline;

    margin-left: 20px;
}
.footer .pages a{
	padding:5px 7px;
	color:#252525;
}
.footer .pages a.active{
	text-decoration:underline;	
}

/*========== Add Resume ============*/
.content .img-steps{
	text-align:center;
}
.content .from-add-01{
	clear:both;	
	margin:40px 0 20px 20px;
}
.content h2{
	clear:both;	
	color:#1b7cbd;
	font-size:14px;
}
.content .from-add-01 ul,
#adv-search ul{
	margin:20px 0;	
	float:left;

}
.content .from-add-01 ul,
.form-login ul{
	clear:both;	
}
.content .from-add-01 ul li,
#adv-search ul li,
.form-login ul li{
	clear: both;
    display: block;
    float: left;
    margin: 5px 0 7px;
}
.content .from-add-01 ul li label,
#adv-search ul li label,
.form-login ul li label{
	width:160px;
	float:left;
	margin-top: 5px;
}
.content .from-add-01 ul li label em,
.form-login em{
	color:#e60000;	
}
.content .from-add-01 ul li input[type="text"],
.content .from-add-01 ul li input[type="password"],
#adv-search ul li input[type="text"],
.form-login ul li input[type="text"],
.form-login ul li input[type="password"]
{
	width:249px;
	margin-left:0;
}
.content .from-add-01 ul li input[type="radio"],
#adv-search ul li input[type="radio"]{
	float: left;
    margin: 5px 5px 10px 0;
}
.content .from-add-01 ul li span,
#adv-search ul li span{
	float: left;
    margin-top: 2px;
    width: 50px;
}
.content .from-add-01 ul li textarea{
	
}

.content .from-add-01 .actions{
	width:269px;
	float:left;
	text-align:right;	
	margin:15px 0 0 0;
}
.content .button02,
#comment .button02,
#history .button02
{
	background: none repeat scroll 0 0 #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 2px 0 #FFFFFF inset;
    color: #848484;
    cursor: pointer;
    font-family: 'Arial';
    font-weight: bold;
    padding: 5px 10px;
	margin-right:10px;
}

/*======== Advanced Search =============*/
#adv-search h2{
	text-transform:uppercase;
	background-color:#cccccc;
	padding:5px 0px;
}
#adv-search ul li{
	display:inline;	
	float:left;
	clear:none;
	margin-right:20px;
}
#adv-search ul li label{
	width:118px;
}
#adv-search ul li input[type="text"]{
	width:200px;	
}
#adv-search ul li select,
#adv-search ul li input.cost{
	width:70px;	
}

#adv-search ul li input[type="checkbox"],
#adv-search ul li p{
	float:left;
}
#adv-search .actions{
	clear: both;
    padding: 10px 0 0;
    text-align: center;
}

.multiselect {
    width:500px;
    height:15em;
    border:solid 1px #c0c0c0;
    overflow:auto;
    background-color:#ffffff;
    padding:10px;
}
 
.multiselect label {
    display:block;
}

.multiselect ul li {
    clear: none;
    display: none;
    margin-right: 0px;
}

.multiselect1 {
    width:500px;
    height:15em;
    border:solid 1px #c0c0c0;
    overflow:auto;
    background-color:#ffffff;
    padding:10px;
}
 
.multiselect1 label {
    display:block;
}

.multiselect1 ul li {
    clear: none;
    display: none;
    margin-right: 0px;
}
.add-date{
	margin-bottom: 0 !important;

}
.add-date li{
	clear: none !important;
    float: left !important;
    margin-right: 50px !important;
}
.add-date li.two label{
	width:80px !important;	
}
.add-date li input[type="text"]{
	width:120px !important;	
}

.content textarea{
	font-size:12px;
	color: #848484;
	min-width:400px;
	min-height:160px;	
}

.summary{
	background:#fff;
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin: -35px 0 0 20px;
    min-height: 250px;
    padding: 25px;
    /*width: 410px;*/
}
.summary h2{
	color:#8AB036;		
}
.summary ul li{
	display:block;	
}
.summary ul li>div{
	float:left;	
	margin-right: 40px;
}
.summary .action-link a{
	color:#C20000;
}

.form-login{
	background:#fff;
	border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    height: auto;
    margin: 100px auto 0;
    overflow: hidden;
    padding-bottom: 20px;
    width: 380px;
}
.form-login h1{
	color: #1B7CBD;
    font-size: 16px;
	background:#F3F3F3;
	border-bottom: 1px solid #DDDDDD;
	padding:15px 20px;
	border-radius: 5px 5px 0 0;
}
.form-login ul{
	float: left;
    padding: 25px 20px 10px;	
}
.form-login label{
	width:85px !important;	
}
.form-login input[type="text"],
.form-login input[type="password"]
{
	width:230px !important;	
}
.form-login a{
	clear: both;
    color: #1A7CBD;
    float: left;
    font-weight: bold;
    margin: 0 0 3px 20px;
}

/*paging*/
.pagination,
.pagination{
	clear:both;
	margin:10px 0;	
}
.pagination .disabled{
	display:none;
}	
.pagination span,
.pagination span,
.pagination .current,
.pagination a{
	background: none repeat scroll 0 0 #F3F3F3;
	border: 1px solid #DDDDDD;
	border-radius: 3px 3px 3px 3px;
	padding:4px 6px;
	color:#252525;
	text-decoration:none;
}
.pagination a:hover{
	text-decoration:underline;	
}
.pagination span,
.pagination span,
.pagination .current{
	text-decoration:underline;	
}
/*end paging*/
.error{
color:red;
}

/* USER MANAGEMENT */
.clear {
	clear: both;
}
#userManagement .head .checkbox,
#userManagement .head .username,
#userManagement .head .fullname,
#userManagement .head .title,
#userManagement .head .email,
#userManagement .head .job-title,
#userManagement .head .status,
#userManagement .head .phone,
#userManagement .head .action,
#userManagement .head .created-date,
#userManagement .head .modified-date
 {background: url("../images/bg-header.jpg") no-repeat scroll right top transparent !important;}
 
#userManagement .checkbox,
#userManagement .username,
#userManagement .fullname,
#userManagement .title,
#userManagement .email,
#userManagement .job-title,
#userManagement .status,
#userManagement .phone,
#userManagement .action,
#userManagement .created-date,
#userManagement .modified-date
{
	padding:2px 1% 2px;
	float:left;	
}

#userManagement .checkbox{
	padding:3px 1%;
	width:1%;
}


#userManagement .username {
	width: 9%;
}

#userManagement .fullname {
	width: 13%;
}

#userManagement .email {width: 16%;}
#userManagement .job-title {width: 10%;}
#userManagement .status {width: 4%;text-align: center;}
#userManagement .phone {width: 8%;text-align: left;}
#userManagement .action {width: 10%;text-align: left;}
#userManagement .created-date {width: 8%;}
#userManagement .modified-date {width: 11%;}

/*=========== img-steps ===========*/
.content .img-steps{
	float: left;
    margin: 0 0 40px 10%;
}
.img-steps ul li{
	float:left;
	display:inline;
	margin-right: 15px;
}	
.img-steps ul li a{
	display:block;
	text-indent:-9999px;	
	height: 75px;
    width: 110px;
}
.img-steps ul li .step-01{
	background:url(../images/img-step-a-01.png) no-repeat 0 17px;	
	
}
.img-steps ul li .step-02{
	background:url(../images/img-step-a-02.png) no-repeat 0 17px;	
	
}
.img-steps ul li .step-03{
	background:url(../images/img-step-a-03.png) no-repeat 0 17px;	
	
}
.img-steps ul li .step-04{
	background:url(../images/img-step-a-04.png) no-repeat 0 17px;	
	
}
.img-steps ul li .step-05{
	background:url(../images/img-step-a-05.png) no-repeat 0 17px;	
	
}
.img-steps ul li a:hover,
.img-steps ul li.active a{
	background-position:bottom;
}

/*company*/
.list-company,
.info-content{
	float: left;
    width: 100%;
}
.list-company .head{
	background:#1b7cbd;	
	width:100%;
	float: left;
}

.list-company .head .checkbox,
.list-company .head .code,
.list-company .head .name,
.list-company .head .address,
.list-company .head .tel,
.list-company .head .viewtel,
.list-company .head .email,
.list-company .head .viewemail,
.list-company .head .fullName,
.list-company .head .jobTitle,
.list-company .head .edit,
.list-company .head .ind,
.list-company .head .act,
.list-company .head .newva,
.list-company .head .openva,
.list-company .head .ressent,
.list-company .head .inter,
.list-company .head .offer,
.list-company .head .accept,
.list-company .head .joined,
.list-company .head .status,
.list-company .head .cons,
.list-company .head .action{	
	background:url(../images/bg-header.jpg) no-repeat top right;
}
.list-company .checkbox,
.list-company .code,
.list-company .name,
.list-company .address,
.list-company .tel,
.list-company .viewtel,
.list-company .fullName,
.list-company .email,
.list-company .viewemail,
.list-company .jobTitle,
.list-company .edit,
.list-company .ind,
.list-company .act,
.list-company .newva,
.list-company .openva,
.list-company .ressent,
.list-company .inter,
.list-company .offer,
.list-company .accept,
.list-company .joined,
.list-company .status,
.list-company .cons,
.list-company .action{
	padding:2px 1% 2px;
	float:left;	
}

.list-company .head .checkbox{
	padding:6px 1%;
	width:1%;
}
.list-company .code
{
	width:3%;	
	line-height:25px;
}
.list-company .ind,
.list-company .act
{
	width:1.5%;	
	line-height:25px;
}
.list-company .newva,
.list-company .accept
{
	width:4.5%;	
	line-height:25px;
}
.list-company .openva,
.list-company .ressent,
.list-company .offer
{
	width:5%;	
	line-height:25px;
}
.list-company .inter
{
	width:5%;	
	line-height:25px;
}
.list-company .joined,
.list-company .status,
.list-company .cons
{
	width:4%;	
	line-height:25px;
}
.list-company .head .jobTitle
{
	width:14%;	
	line-height:25px;
}
.list-company .head .fullName
{
	width:23%;	
	line-height:25px;
}
.list-company .head .viewemail
{
	width:30%;	
	line-height:25px;
}
.list-company .tel
{
	width:6%;	
	line-height:25px;
}
.list-company .head .viewtel
{
	width:12%;	
	line-height:25px;
}
.list-company .name{
	width:15%;
	line-height:25px;
}
.list-company .head .edit{
	width:5%;
	line-height:25px;
}
.list-company .head .address{
	width:13%;
	line-height:25px;
}
.list-company .head .email{
	width:15%;
	line-height:25px;
}
.list-company .head .action{
	width:14%;
	background:none !important;
	line-height:25px;
}
.list-company .head h4{
	text-transform:uppercase;
	color:#fff;	
	line-height:25px;
}

.list-company .info-content h4 a{
	text-transform:uppercase;
	color:#8AB036;	
}

.list-company .info-content .checkbox{
	margin-top: 5px;
	padding:3px 1%;
	width:1%;
	line-height:25px;
}

.list-company .info-content .code
{
	width:3%;	
	line-height:25px;
}
.list-company .info-content .ind,
.list-company .info-content .act
{
	width:1.5%;	
	line-height:25px;
}
.list-company .info-content .newva,
.list-company .info-content .accept
{
	width:4.5%;	
	line-height:25px;
}
.list-company .info-content .openva,
.list-company .info-content .ressent,
.list-company .info-content .offer
{
	width:5%;	
	line-height:25px;
}
.list-company .info-content .inter
{
	width:5%;	
	line-height:25px;
}
.list-company .info-content .joined,
.list-company .info-content .status,
.list-company .info-content .cons
{
	width:4%;	
	line-height:25px;
}

.list-company .info-content .name{
	width:15%;
	line-height:25px;
}
.list-company .info-content .fullName{
	width:23%;
	line-height:25px;
}
.list-company .info-content .address{
	width:13%;
	line-height:25px;
}
.list-company .info-content .jobTitle{
	width:14%;
	line-height:25px;
}
.list-company .info-content .email{
	width:15%;
	line-height:25px;
}
.list-company .info-content .viewemail{
	width:30%;
	line-height:25px;
}
.list-company .info-content .edit{
	width:5%;
	line-height:25px;
}
.list-company .info-content .tel{
	width:6%;
	line-height:25px;
}
.list-company .info-content .viewtel{
	width:12%;
	line-height:25px;
}
.list-company .info-content .action{
	width:14%;
	line-height:25px;
}



.list-company .info-content a.editcom{
	font-weight: bold;
	padding-left:28px;
	background:url(../images/icon-add.png) no-repeat left 1px;
	line-height:25px;
}

/* Vacancy */

.list-vacancy,
.contentVacancy{
	float: left;
    width: 100%;
}
.list-vacancy .headVacancy{
	background:#1b7cbd;	
	width:100%;
	float: left;
}

.list-vacancy .headVacancy .company,
.list-vacancy .headVacancy .job_title,
.list-vacancy .headVacancy .salary,
.list-vacancy .headVacancy .location,
.list-vacancy .headVacancy .work_level,
.list-vacancy .headVacancy .posted,
.list-vacancy .headVacancy .priority,
.list-vacancy .headVacancy .status,
.list-vacancy .headVacancy .function,
.list-vacancy .headVacancy .action{	
	background:url(../images/bg-header.jpg) no-repeat top right;
}
.list-vacancy .company,
.list-vacancy .job_title,
.list-vacancy .salary,
.list-vacancy .location,
.list-vacancy .work_level,
.list-vacancy .posted,
.list-vacancy .priority,
.list-vacancy .status,
.list-vacancy .function,
.list-vacancy .action{
	padding:2px 1% 2px;
	float:left;	
}


.list-vacancy .headVacancy .company
{
	width:15%;	
	line-height:25px;
}
.list-vacancy .headVacancy .job_title
{
	width:10%;	
	line-height:25px;
}
.list-vacancy .headVacancy .salary
{
	width:11%;	
	line-height:25px;
}
.list-vacancy .headVacancy .location
{
	width:10%;	
	line-height:25px;
}
.list-vacancy .headVacancy .function
{
	width:10%;	
	line-height:25px;
}
.list-vacancy .headVacancy .work_level
{
	width:11%;	
	line-height:25px;
}
.list-vacancy .headVacancy .posted
{
	width:10%;	
	line-height:25px;
}
.list-vacancy .headVacancy .priority
{
	width:10%;	
	line-height:25px;
}
.list-vacancy .headVacancy .action{
	background:none !important;
	line-height:25px;
}
.list-vacancy .headVacancy h4{
	text-transform:uppercase;
	color:#fff;	
	line-height:25px;
}

.list-vacancy .contentVacancy h4 a{
	text-transform:uppercase;
	color:#8AB036;	
}

.list-vacancy .contentVacancy .job_title
{
	width:10%;
	line-height:25px;
}
.list-vacancy .contentVacancy .company
{
	width:15%;
	line-height:25px;
}

.list-vacancy .contentVacancy .salary
{
	width:11%;	
	line-height:25px;
}

.list-vacancy .contentVacancy .location
{
	width:10%;	
	line-height:25px;
}
.list-vacancy .contentVacancy .function
{
	width:10%;	
	line-height:25px;
}
.list-vacancy .contentVacancy .work_level
{
	width:11%;	
	line-height:25px;
}
.list-vacancy .contentVacancy .posted
{
	width:10%;	
	line-height:25px;
}
.list-vacancy .contentVacancy .priority
{
	width:10%;	
	line-height:25px;
}
.list-vacancy .contentVacancy .action{
	background:none !important;
	line-height:25px;
}


.comboxtemplate_n {
	float: left;
	position: relative;
	width: auto;
	border: 1px solid #999999;
	height: 20px;
	background:
		url(../images/combo-image.gif)
		no-repeat top right;
	background-color:#FFF;
	top: 0px;
	right: 1px;
	padding-right: 17px;
}