body {
	background: #F6F6F6 url(../images/bg.jpg) repeat-x top;
	color: #202020;
}

a,a:visited {
	color: #a43708;
}

input {
	border: 0px solid #e8e7e1;
}

select {
	border: 1px solid #e8e7e1;
}

#header h2 {
	color: #424242;
}

#content {
	background: #FFF;
}

#sidebar {
	background: #FFF;
}

#sidebar h3 {
	background: #f7f6f0;
	border-bottom: 1px solid #e8e7e1;
}

#topmenu a,#topmenu a:visited {
	color: #f7f6f0;
	background: #bd3f09;
}

#topmenu a:hover {
	color: #FFF;
}

#topmenu .current a,#topmenu .current a:hover,#topmenu .current a:visited
{
	color: #FFFFFF;
	background: #888888;
}

#top-panel {
	background: #FFF;
}

table.datagrid {
	background: none;
}

/*********************
	Dinh dang Table
*********************/
table.datagrid tr th,table.datagrid tr td {
	border-bottom: 1px solid #888888;
}

table.noboder tr th,table.noboder tr td {
	border: 0px;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 3px;
}

table.noboder01 tr th,table.noboder01 tr td {
	border: 0px;
	padding-bottom: 10px;
	padding-left: 3px;
	padding-right: 3px;
}

/*********************
	Dinh dang Header
*********************/
table.datagrid thead tr th {
	background: #8dc54c;
	color: #FFF;
	border-top: 1px solid #70AE29;
}

.color_bg {
	background-color: #FFECEC;
}

.text_green {
	color: #009900;
}

.text_blue {
	color: #3300FF;
}

.text_red {
	color: #F00;
}

#styleswitcher {
	background: #FFFFFF;
}

#footer {
	background: #FFF;
}

#box {
	border: 1px solid #e8e7e1;
}

#box h3 {
	background: #f7f6f0;
	border-bottom: 1px solid #e8e7e1;
	color: #a43708;
}

/***************
	  Forms
***************/
form#form fieldset {
	border: 1px solid #e8e7e1;
}

form#form legend {
	border: 1px solid #e8e7e1;
	background: #fff url(../images/form_red.gif) repeat-x center left;
	color: #a43708;
}

form#form input {
	border: 1px solid #e8e7e1;
	background: #fff url(../images/form_red.gif) repeat-x top left;
}

form#form textarea {
	border: 1px solid #e8e7e1;
	background: #fff url(../images/form_red.gif) repeat-x bottom left;
}

form#form option {
	background: #FFF;
}

form#form optgroup {
	background: #e8e7e1;
}

form#form optgroup option {
	
}

form#form #button1,form#form #button2 {
	color: #c00;
}

form#form #button1:hover,form#form #button2:hover {
	color: #000;
}

.link_button {
	background: #0075bf;
	color: #FFFFFF;
}

.add_button {
	background: url("../images/blue-long-btn.jpg") no-repeat;
	width: 96px;
	height: 25px;
	border: 0px;
	padding-bottom: 8px;
	color: #ffffff;
	cursor: pointer;
	font-size: 12px;
}

.del_button {
	background: url("../images/blue-short-btn.jpg") no-repeat;
	width: 54px;
	height: 25px;
	border: 0px;
	padding-bottom: 8px;
	color: #ffffff;
	cursor: pointer;
	font-size: 12px;
}

/***************
	Home
***************/
#infobox {
	border: 1px solid #e8e7e1;
}

#infobox h3 {
	background: #f7f6f0;
	border-bottom: 1px solid #e8e7e1;
	color: #a43708;
}

#rightnow {
	border: 1px solid #e8e7e1;
}

#rightnow .reallynow {
	background: #f7f6f0;
	color: #a43708;
}

#rightnow h3 {
	background: #f7f6f0;
	border-bottom: 1px solid #e8e7e1;
}